h1, h3, p, a{
  font-family: 'Darker Grotesque', sans-serif;
  color: white;
}

body {
	text-align: center;
	background: black;
	font-family: Raleway, Helvetica, Arial, sans-serif;
}

p:hover, h1:hover, h3:hover {
  color: red;
}

a{
	text-decoration: none;
	text-shadow: 0 0 20px #FF0000, 0 0 30px #0000FF;
	font-size: 150%;
}
/* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: red;
}

/* mouse over link */
a:hover {
  color: purple;
}

/* selected link */
a:active {
  color: yellow;
}

img{
	box-shadow: 0 0 10px #FF0000;

}